ion-toolbar{
    --background:#f8c678;
}

ion-content{
    width: 100vw;
    height: 100vh;  
    
    --background: url('/../assets/fundo/fundoLogin.png')
}

.sidemenu-button-header{
    --color: black;

    font-size: 2.5em;
}

.logo{
    display:flex;
    justify-content: center;

    img{
        margin-top: 7%;
        width:50%;
        height:15%;
    }    
}

.conteinerCard{
    display:flex;
    justify-content: center;
}

ion-card{
    height: 60%;
    width:87%;    
    margin-top: 10%;    

    background:#f8f8f8;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ion-card-title{

    display: flex;
    justify-content: center;  
    margin-top:9%;  
    
    
    text-transform: none;
    color: #FFB971; 

}

span{
    color:#F2800A;
}

.Input{    

    display:flex;
    justify-content: center;

    background:#ecf0f3;
    height:12%;
    box-shadow: 0px 4px 4px #F2800A, 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;         

    margin-bottom:8%;

    .textInput{
        color: black;
        margin-left: 4%;        
    }

}

.textLogin{
    display:flex;
    justify-content: space-between;

    a{
    color: #FF9121;    
    }     
}

ion-button{
    fill:outline;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-weight: bold;

    margin-top: 12%;
    margin-bottom:10%;

    width:100%;
}



