

.individual-post{
    display: inline-block;
    width: 45vw;
    margin-left: 15%;
    margin-top: 10%;
}

.media-post{
    box-shadow: 0px 4px 4px #00000057;
    border-radius: 30px;

    width: 90%;
    height: 18vh;
}

.trash-icon{
    color: #FF0101;

    font-size: 1.5em;
}